<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <ul>
      <a href="/index">Home</a>
      <a href="/about">about</a>
      <a href="/articles">articles</a>
      <a href="/contact">contact</a>
    
    </ul>